<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pedido</title>
    
</head>
<body>

    <nav>
        <p><a href="~/Product/Index" class="btn btn-primary btn-lg"  style="margin-left: 40%; width: 170px; margin-top: 40px;">Productos</a></p>
       
    </nav>
    
    <aside id="costado">
        <p>Lista de Productos</p>

    </aside>

    <section id="principal">
       
    </section>


    @*<script type="text/javascript">
$(document).ready(function() {
    $("#botonProducto").click(function (event) {
        $("#principal").load('~/Views/Product/Index.cshtml');
});
});

    </script>*@


</body>

</html>
